<!-- _footer.html.erb -->


<div class="footer">
    <div class="pull-right">
        <strong>Tract</strong>Work
    </div>
    <div>
        <strong>Copyright</strong> diligent agility &copy; 2015-2016
    </div>
</div>