<!-- home#index.html.erb -->
<div class="home">
  <div class="center-row">
  <div class="header-text center">
    <h1 class="big">Construction Projects Made Easier with <strong>Tract</strong>Work.</h1>
    <h3>Organize all your project data in one central location</h3>
    <div>
      <%= link_to "Log In", login_path, class: "btn-lg btn-primary" %>
    </div>
    <hr>
  </div>
    <div class="row">

      <div class="col-md-4">
        <div class="well">
        <h3>Manage</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
        <h3>Organize</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
        <h3>Perform</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        </div>
      </div>
    </div><!-- end row -->
    <div class="subtext center">
      <h2>TractWork is the top choice for contractors to organize information, prepare projects for bid, and keep track of company projects.</h2>
    </div>
  </div><!-- end center-row -->

</div><!-- end home -->
