<!-- show.html.erb -->

<h3><%= @project.name %></h3>
<hr>

<% @projectUsers.each do |u| %>
  <p><%= u.fullName %> - Account: <%= u.account.name %></p>
<% end %>

<div>
<!-- insert add user to project form here -->
</div>
