<%= form_for([:admin,@role]) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <hr>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
