<!-- Dashboard index.html.erb -->



  <h2>Dashboard</h2>
  <div class="container">
    <table class="table table-striped">
      <tr>
        <th>User</th>
        <th>Role</th>
        <th>Workdays</th>
        <th></th>
      </tr>
      <tr>
        <td><%= current_user.firstName %></td>
        <td><%= current_user.role %></td>
        <td><%= current_user.workdays.count %></td>
        <td><%= link_to "show", current_user %></td>
      </tr>
    </table>
  </div>





